@model MMHTT.RequestVariation
@using System.Linq;
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <soap:Body>
        <ExecuteXml xmlns="http://tempuri.org/">
            <head>
                &lt;?xml version="1.0" encoding="utf-8"?&gt;&lt;DataHeader xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;&lt;Sid&gt;@Model.KeyValue("SID")&lt;/Sid&gt;&lt;Function&gt;WebServiceMethodsDvse.Login.GetUser.Method.GetUser_V2&lt;/Function&gt;&lt;TimeStamp&gt;2018-01-20T14:18:53.8069494+01:00&lt;/TimeStamp&gt;&lt;/DatiaHeader&gt;
            </head>
            <data>
                &lt;?xml version="1.0" encoding="utf-8"?&gt;
                &lt;GetUserIn_V2 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                &lt;TimeStamp&gt;2018-01-20T14:18:53.8069494+01:00&lt;/TimeStamp&gt;
                &lt;SprNr&gt;0&lt;/SprNr&gt;
                &lt;/GetUserIn_V2&gt;
            </data>
        </ExecuteXml>
    </soap:Body>
</soap:Envelope>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Template</title>
</head>
<body>
    <div>
        <h4>RequestVariation</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Agent)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Agent)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Endpoint)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Endpoint)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Template)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Template)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
